.wrapper
  .left-content
    .top-content
      %p.user-name 
        = link_to current_user.name
      %ul.user-menu
        %li.edit-user
          = link_to "/groups/new" do
            = fa_icon "edit" 
        %li.new-group
          = link_to "/users/#{current_user.id}/edit" do
            =fa_icon "cog" 
    .middle-left-content
      .group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            %p.group-name 
              = group.name
            %p.latest-message 
              = group.show_last_content
              
  .right-content
    .top-content
      .current-group
        %h2.group-name 
          = @group.name
          %ul.member-list 
            .member-list-name 
            Menber :
            - @messe.each do |user|
              = user.name

      = link_to edit_group_path(@group) do
        .edit-btn Edit  
    .middle-right-content
      - @messages.each do |message|
        #message_id.message{"data-message-id": "#{message.id}"}
          .upper-info
            %p.upper-info__user 
              = message.user.name 
            %p.upper-info__date
              = message.created_at.strftime("%Y/%m/%d %H:%M")
          %p.message_text 
            = message.content
          %p.message_image
            = image_tag message.image
    = form_for [@group, @message] do |f|
      .bottom-content
        .bottom-content__form
          = f.text_field :content, class: "message-box__left-1", placeholder: 'type a message'
          .form__mask
          
          = f.label :image, class: 'form__mask' do
            = fa_icon 'picture-o', class: 'fa fa_image'
            = f.file_field :image, class: 'hidden' 
        .message-box__right
          = f.submit 'Send', id:"send_class"